
<div id="content">
    <h1>Welcome to Eggnine</h1>
    <h3>Cookie Policy</h3>
    <p>
        This site uses cookies.
        If you do not wish to have your browser store cookies for this site, do not proceed any further.
    </p>
    <h3>Privacy Policy</h3>
    <p>
        This site stores basic user inforation:
        <ul>
            <li>A name</li>
            <li>A passphrase</li>
            <li>Actions</li>
            <li>Score</li>
        </ul>
        With the exception of your passphrase, these values may be shared with other parties.
        If you do not wish to have your information shared, do not proceed any further.
    </p>
    <h3>Rock Paper Scissors home page</h3>
    <p>
        If you accept the above terms and wish to play a game, <a href="/Home?@(Constants.QueryStringKeyAcceptedCookies)=true">click here</a>.
    </p>
</div>