@page
@namespace Eggnine.Rps.Web.Pages
@using Eggnine.Rps.Core
@using Range = Eggnine.Rps.Common.Range
@model History
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Rock Paper Scissors History";
    ViewData["User"] = await Model.GetUserFromCookieAsync();
}
<div id="content">
    <ul>
        @foreach(long turn in new Range(0, Model.Turn))
        {
            <li>
                Turn: @turn
                <ul>
                    <li>Rocks: @(await Model.ActionsAsync(RpsAction.Rock, turn))</li>
                    <li>Papers: @(await Model.ActionsAsync(RpsAction.Paper, turn))</li>
                    <li>Scissors: @(await Model.ActionsAsync(RpsAction.Scissors, turn))</li>
                </ul>
            </li>
        }
    </ul>
</div>