@page
@namespace Eggnine.Rps.Web.Pages
@using Eggnine.Rps.Core
@using Range = Eggnine.Rps.Common.Range
@model History
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Rock Paper Scissors History";
    ViewData["User"] = await Model.GetUserFromCookieAsync();
}
<div id="content">
    <span>
        <ul>
            @foreach(long turn in new Range(0, Model.Turn))
            {
                RpsAction action = await Model.ActionAsync(ViewData["User"] as RpsUser);
                <li>
                    Turn: @turn
                    <ul>
                        <li>Player action: @action</li>
                        <li>Rocks: @(await Model.ActionsAsync(RpsAction.Rock, turn))</li>
                        <li>Papers: @(await Model.ActionsAsync(RpsAction.Paper, turn))</li>
                        <li>Scissors: @(await Model.ActionsAsync(RpsAction.Scissors, turn))</li>
                    </ul>
                </li>
            }
        </ul>
    </span>
</div>